@import "~bootstrap/scss/bootstrap";
.min-vw-75 {
  min-width: 99vw;
}
.black, .nav-1 {
  background-color: #202020 !important;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.nav-1 {
  height: 105px;
}

.bottom-border {
  border-bottom: solid 1px white !important;
}

.NavButton, .NavButton1 {
  border-bottom: solid 1px transparent;
  transition-duration: 150ms;
}
.NavButton1:hover {
  border-bottom: solid 1px black;
 }
.NavButton:hover {
  border-bottom: solid 1px white;
}
.category {
  color: black;
}
.category:hover {
  color: white;
  background-color: #202020 !important;
}
main {
min-height: 100vh;
}
.bg1 {
  background-color: #f8f9fa;
}
.DonateWelcome {
  bottom: 20%;
  width: 900px;
  left: calc(50% - (900px/2));
}
#nickname, #email {
  border-radius: 5px;
  border: 0;
}
input:invalid {
  border-bottom: solid 1px red !important;
}
input,
input:valid {
  border-bottom: solid 1px #ccc !important;
}
.shake {
  animation: shake 4.72s ease infinite;
}

@keyframes shake {
  0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
.LogoText {
  margin-left: 12vw !important;
}
@media (max-width: 900px) {
  .DonateWelcome {
    width: 300px;
    left: calc(50% - (300px/2));
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
